@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.text-gray{
    color: rgba(137, 135, 161, 1);
}
.text-black{
    color:rgba(37, 36, 50, 1) ;
}
/* header styles */


/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;

    
}
.nav-item{
list-style: none;
margin-right: 48px;   
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}
.navbar{
    max-width: 1140px;
      margin: 0 auto; 
}
button{
    border: none;
    font-size:20px;
    background: none;
}




.flower-banner {
  display: flex;
  max-width: 1140px;
  margin: 120px auto;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
}

.flower-text {
  max-width: 570px;
  
}

.flower-text h1 {
  font-size: 65px;
  font: 700;
  line-height: 1.2;
  margin: 0 0 20px;
}

.flower-text .bold {
  font-weight: 700;
  color: #000;
}

.flower-text .orange {
  font-weight: 700;
  color:rgba(233, 90, 8, 1);
}

.flower-text p {
  color:rgba(0, 0, 0, 0.5);
  font-size: 22px;
  line-height: 1.6;
}

.flower-image img {
  max-width: 450px;
  height: auto;
}




.products-section {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 5px 20px 20px; */
  text-align: center;
}

.section-header h2 {
  font-size: 50px;
  margin-bottom: 10px;
  font: 700;
}

.orange {
  color: rgba(233, 90, 8, 1);
  font-weight: bold;
}

.black {
  color: #000;
  font-weight: bold;
}

.section-header p {
  max-width: 888px;
  margin: 0 auto 40px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  line-height: 1.6;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}

.product-card {
  /* background-color: #fff; */
  padding: 10px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 18px;
  font: 500;
}

.product-card .price {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}

.cart-button {
  background-color: rgba(233, 90, 8, 1);
  color: #fff;
  border: none;
  padding: 12px 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}



.lover-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 120px 20px;
  /* background-color: #f5f7fc; */
  flex-wrap: wrap;
}

.lover-image-wrapper {
  position: relative;
  flex: 1 1 400px;
  max-width: 540px;
}

.lover-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.trusted-badge {
  position: absolute;
  top: -100px;
  right: -70px;
  width: 50%;
}

.lover-text {
  max-width: 540px;
  margin-top: 5px;
}

.lover-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

.lover-text ul {
  list-style-type: disc;
  padding-left: 20px;
  color:rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 1.6;
}





@media screen and (max-width:430px){
    .nav-item{
        display: none;
    }
    .nav-btn{
        margin-top: 26px
    }
 
}



@media (max-width: 430px) {
  .flower-banner {
    flex-direction: column-reverse;
    padding: 40px 0; 
  }

  .flower-image {
    width: 100%;          
    padding: 0;           
    margin: 0;             
  }

  .flower-image img {
    width: 100%;
    height: auto;
    display: block;        
  }

  .flower-text {
    padding: 0 20px;      
    margin-top: 35px;
    text-align: left;
  }

  .flower-text h1 {
    font-size: 24px;
    font: 700;
  }

  .flower-description {
    font-size: 14px;
    width: 360px;
    height: 68px;
  }
}







@media screen and (max-width: 430px) {
    
 
    .section-header h2 {
    font-size: 24px;
  }

  .section-header p {
    font-size: 14px;
    padding: 0 10px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-card {
    padding: 16px 8px;
  }

  .cart-button {
    padding: 10px 0;
    font-size:13px;
}
.trusted-badge{
    display: none;
}
}